<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

</head>
<body>

<h1>홍길동</h1>

    <img src="/images/a.png">

    <form action="/img" method="post" enctype="multipart/form-data">

        글자 : <input name="str" > <br>
        파일업로드 : <input type="file" name="mul">
        <button>타입이 없다면 디폴트 서브밋</button>
    </form>





</body>
</html>